/* line 3, ../scss/style.scss */
.font-primary {
  font-family: "proxima-nova", sans-serif;
}

/* line 10, ../scss/style.scss */
.font-secondary, .primary-nav--logo, .post, .signup-form--input {
  font-family: "adelle", serif;
}

/* line 1, ../scss/_reset.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../scss/_reset.scss */
*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 9, ../scss/_reset.scss */
body {
  background-color: #dcfada;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  padding-bottom: 3em;
}
/* line 15, ../scss/_reset.scss */
body, body a {
  color: #516551;
}

/* line 20, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 24, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

/* line 29, ../scss/_reset.scss */
p {
  margin: 0;
}

/* line 36, ../scss/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 40, ../scss/style.scss */
.container {
  margin: 0 1em;
}
@media (min-width: 35em) {
  /* line 40, ../scss/style.scss */
  .container {
    margin: 0 5%;
  }
}
@media (min-width: 60em) {
  /* line 40, ../scss/style.scss */
  .container {
    margin: 0 auto;
  }
}

/* line 52, ../scss/style.scss */
.max-width {
  max-width: 50em;
}

/* line 56, ../scss/style.scss */
.block {
  display: block;
}

/* line 60, ../scss/style.scss */
.relative {
  position: relative;
}

/* line 64, ../scss/style.scss */
.space-above {
  margin-top: 0.5em;
}

/* line 68, ../scss/style.scss */
.space-above_1 {
  margin-top: 1em;
}

/* line 72, ../scss/style.scss */
.space-above_2 {
  margin-top: 2em;
}

/* line 76, ../scss/style.scss */
.space-above_3 {
  margin-top: 3em;
}

/* line 80, ../scss/style.scss */
.space-above_4 {
  margin-top: 4em;
}

/* line 84, ../scss/style.scss */
.space-above_5 {
  margin-top: 5em;
}

/* line 90, ../scss/style.scss */
.text-green {
  color: #dcfada;
}

/* line 94, ../scss/style.scss */
.text-green_light {
  color: #d1f2cf;
}

/* line 98, ../scss/style.scss */
.text-green_medium {
  color: #89a186;
}

/* line 102, ../scss/style.scss */
.text-green_dark {
  color: #516551;
}

/* line 106, ../scss/style.scss */
.text-purple {
  color: #867ad0;
}

/* line 112, ../scss/style.scss */
.text-8 {
  font-size: 0.8rem;
}

/* line 116, ../scss/style.scss */
.text-18 {
  font-size: 1.8rem;
}

/* line 120, ../scss/style.scss */
.text-20 {
  font-size: 2rem;
}

/* line 124, ../scss/style.scss */
.text-25 {
  font-size: 2.5rem;
}

/* line 128, ../scss/style.scss */
.text-35 {
  font-size: 3.5rem;
}

/* line 132, ../scss/style.scss */
.text-italic {
  font-style: italic;
}

/* line 136, ../scss/style.scss */
.text-light {
  font-weight: 300;
}

/* line 140, ../scss/style.scss */
.text-bold {
  font-weight: bold;
}

/* line 144, ../scss/style.scss */
.text-semibold {
  font-weight: 600;
}

/* line 148, ../scss/style.scss */
.text-underline {
  text-decoration: underline;
}

/* line 152, ../scss/style.scss */
.text-action, .post--permalink, .strong-content a {
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  color: #867ad0;
}
/* line 156, ../scss/style.scss */
.text-action:hover, .post--permalink:hover, .strong-content a:hover {
  color: #6454c3;
  text-decoration: underline;
}

/* line 164, ../scss/style.scss */
.button_positive {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  padding: 0.6em 1.3em;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 4px;
}

/* line 184, ../scss/style.scss */
.button_positive {
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  background-color: #867ad0;
  color: #fff;
}
/* line 190, ../scss/style.scss */
.button_positive:hover, .button_positive:focus {
  background-color: #978dd7;
  outline: none;
}
/* line 195, ../scss/style.scss */
.button_positive:active {
  background-color: #7c6fcc;
}

/* line 202, ../scss/style.scss */
.primary-nav {
  background-color: #d1f2cf;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 208, ../scss/style.scss */
.primary-nav--logo {
  font-size: 2.5rem;
  display: inline-block;
}

/* line 214, ../scss/style.scss */
.primary-nav--message {
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
}
@media (min-width: 35em) {
  /* line 214, ../scss/style.scss */
  .primary-nav--message {
    position: absolute;
    right: 0;
    top: 1.5em;
  }
}

/* line 228, ../scss/style.scss */
.header-message {
  color: #89a186;
  display: inline-block;
  border-bottom: 1px solid #89a186;
  font-size: 0.9rem;
  padding-bottom: 0.7em;
  margin-top: 2.5rem;
}
@media (min-width: 35em) {
  /* line 228, ../scss/style.scss */
  .header-message {
    margin-top: 3rem;
  }
}

/* line 243, ../scss/style.scss */
.post--container {
  margin-top: 2rem;
}
@media (min-width: 35em) {
  /* line 243, ../scss/style.scss */
  .post--container {
    margin-top: 4rem;
  }
}

/* line 251, ../scss/style.scss */
.post {
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 600;
}
@media (min-width: 35em) {
  /* line 251, ../scss/style.scss */
  .post {
    font-size: 4.2rem;
  }
}

/* line 262, ../scss/style.scss */
.post--permalink {
  margin-top: 0.7rem;
  display: block;
  color: #89a186;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
}
@media (min-width: 35em) {
  /* line 262, ../scss/style.scss */
  .post--permalink {
    font-size: 1.8rem;
    margin-top: 1.6rem;
  }
}

/* line 279, ../scss/style.scss */
.signup-callout {
  background-color: #d1f2cf;
  border-radius: 0.2em;
  padding: 1em;
  margin-top: 3rem;
}
@media (min-width: 35em) {
  /* line 279, ../scss/style.scss */
  .signup-callout {
    margin-top: 7rem;
    padding: 3em;
  }
}

/* line 291, ../scss/style.scss */
.signup-callout--title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 35em) {
  /* line 291, ../scss/style.scss */
  .signup-callout--title {
    font-size: 1.35rem;
    margin-bottom: 1rem;
  }
}

/* line 303, ../scss/style.scss */
.signup-callout--message {
  line-height: 1.6;
}

/* line 309, ../scss/style.scss */
.signup-form--label {
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 35em) {
  /* line 309, ../scss/style.scss */
  .signup-form--label {
    font-size: 1rem;
  }
}

/* line 319, ../scss/style.scss */
.signup-form--input {
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
  background-color: #f1fdf0;
  border-radius: 0.2em;
  font-style: italic;
  display: block;
  font-size: 1.1rem;
  border: none;
  padding: 0.45em 0.6em;
  color: #516551;
  width: 100%;
}
@media (min-width: 35em) {
  /* line 319, ../scss/style.scss */
  .signup-form--input {
    padding: 0.65em 0.8em;
  }
}
/* line 336, ../scss/style.scss */
.signup-form--input:focus {
  background-color: white;
  outline-width: 0;
}
/* line 341, ../scss/style.scss */
.signup-form--input::-webkit-input-placeholder, .signup-form--input:-moz-placeholder, .signup-form--input::-moz-placeholder, .signup-form--input:-ms-input-placeholder {
  color: #d1f2cf;
}

/* line 349, ../scss/style.scss */
.signup-form--button {
  text-transform: uppercase;
  float: left;
}

/* line 354, ../scss/style.scss */
.signup-form--helptext {
  font-size: 0.8rem;
  font-style: italic;
  display: inline-block;
  float: left;
  margin-top: 1.1em;
}
@media (min-width: 35em) {
  /* line 354, ../scss/style.scss */
  .signup-form--helptext {
    margin-left: 1.5em;
  }
}

/* line 368, ../scss/style.scss */
.footer--peace-out-yo {
  font-size: 0.8rem;
}

/* line 375, ../scss/style.scss */
.strong-content .strong-content--title {
  margin-bottom: 2rem;
}
/* line 379, ../scss/style.scss */
.strong-content h1, .strong-content h2, .strong-content h3, .strong-content h4, .strong-content h5, .strong-content h6 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
/* line 384, ../scss/style.scss */
.strong-content p {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
@media (min-width: 35em) {
  /* line 384, ../scss/style.scss */
  .strong-content p {
    font-size: 2.5rem;
  }
}
/* line 393, ../scss/style.scss */
.strong-content a {
  text-decoration: underline;
}
