html {
  @include box-sizing(border-box);
}

*, *:after, *:before {
  @include box-sizing(inherit);
}

body {
  background-color: $green;
  margin: 0;
  font-family: "proxima-nova", sans-serif;
  padding-bottom: 3em;

  &, a {
    color: $green_dark;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}
