body {
  background-color: #b8ecb3;
  margin: 0;
  font-family: sans-serif;

  &, a {
  color: #455643;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
