body {
  background-color: $c--brand;
  margin: 0;
  font-family: sans-serif;
  padding-bottom: 3em;

  &, a {
    color: $c--brand_dark;
  }
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}
