/* line 1, ../scss/_reset.scss */
body {
  background-color: #b8ecb3;
  margin: 0;
  font-family: sans-serif;
  padding-bottom: 3em;
}
/* line 7, ../scss/_reset.scss */
body, body a {
  color: #455643;
}

/* line 12, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 16, ../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 20, ../scss/_reset.scss */
p {
  margin: 0;
}

/* line 16, ../scss/style.scss */
.l--container {
  margin: 0 1em;
}
@media (min-width: 35em) {
  /* line 16, ../scss/style.scss */
  .l--container {
    margin: 0 5%;
  }
}
@media (min-width: 55em) {
  /* line 16, ../scss/style.scss */
  .l--container {
    margin: 0 auto;
  }
}

/* line 28, ../scss/style.scss */
.l--max-width {
  max-width: 55em;
}

/* line 32, ../scss/style.scss */
.l--block {
  display: block;
}

/* line 36, ../scss/style.scss */
.l--sp_top-large {
  margin-top: 5em;
}

/* line 40, ../scss/style.scss */
.l--sp_top-med {
  margin-top: 2em;
}

/* line 44, ../scss/style.scss */
.l--sp_top-tiny {
  margin-top: .5em;
}

/* line 50, ../scss/style.scss */
.t--tiny {
  font-size: .8em;
}

/* line 54, ../scss/style.scss */
.t--medium {
  font-size: 2em;
}

/* line 58, ../scss/style.scss */
.t--huge {
  font-size: 3.5em;
}

/* line 62, ../scss/style.scss */
.t--italic {
  font-style: italic;
}

/* line 66, ../scss/style.scss */
.t--bold {
  font-weight: bold;
}

/* line 70, ../scss/style.scss */
.t--underline {
  text-decoration: underline;
}

/* line 75, ../scss/style.scss */
.t--action:hover {
  color: #232b22;
  text-decoration: underline;
}

/* line 83, ../scss/style.scss */
.h--top-line-art {
  position: relative;
  padding-top: 1em;
}
/* line 87, ../scss/style.scss */
.h--top-line-art:before {
  background-color: #455643;
  content: "";
  display: inline-block;
  width: 20%;
  height: 0.1em;
  position: absolute;
  top: 0;
  left: 0;
}
