<div class="l--container l--max-width l--sp_top-med">
  <h1>{{#link-to "index"}}weekjuice{{/link-to}}</h1>
  <div class="t--tiny l--sp_top-tiny">One doable, weekly goal for developers who want to be impressive at work.</div>

  {{outlet}}

</div>
