<article class="l--sp_top-large">
  <p class="t--huge t--bold h--top-line-art">{{currentPost.primary_content}}</p>
  {{#link-to "post" currentPost classNames="l--sp_top-med l--block t--action t--medium t--italic"}}—Week No. {{weekNumber}}{{/link-to}}
</article>

<footer class="l--sp_top-large">
  <p class="t--tiny">A tiny project by <a class="t--underline t--action" href="http://twitter.com/neilrenicker" title="Neil Renicker on Twitter">Neil Renicker</a>.</p>
</footer>
