<hr>

<div>
  <p>{{randomPost.primary_content}}</p>
  <div>{{#link-to "post" randomPost }}{{formatDate randomPost.creationDate}}{{/link-to}}</div>
</div>

<div>
  Testing the currentPost feature:
  <br>
  {{currentPost}}
</div>

<hr>

<footer>
  {{#link-to "posts"}}More weekjuices{{/link-to}}
</footer>