<section>
  <p>{{currentPost.primary_content}}</p>
  {{#link-to "post" currentPost }}—Week No. {{weekNumber}}{{/link-to}}
</section>

<footer>
  <p>A tiny project by <a href="http://twitter.com/neilrenicker" title="Neil Renicker on Twitter">Neil Renicker</a>.</p>
</footer>
