<article class="l--sp_top-large">
  <p class="t--huge t--bold">{{primary_content}}</p>

  {{#if sourceNote}}
    <p><b>Note:</b> <i>{{sourceNote}}</i></p>
    <a target="_blank" {{bindAttr href="sourceUrl"}}>{{sourceTitle}}</a>
  {{/if}}
</article>
