<header class="primary-nav">
  <div class="container max-width relative">
    <h1 class="primary-nav--logo"><a href="/" title="weekjuice">weekjuice</a></h1>
    <p class="primary-nav--message">
      Today is {{currentFullDate}}. Make it great.
    </p>
  </div>
</header>

<div class="container max-width">
  <h2 class="header-message">
    One <span class="text-bold">tiny goal</span> each week for developers who
    dread getting <span class="text-bold">stagnant</span> at work.
  </h2>

  {{outlet}}

  <footer class="space-above_5">
    <small class="footer--peace-out-yo">
      A <a class="text-underline text-action"
      href="http://twitter.com/tinystride"
      title="@tinystride on Twitter">@tinystride</a> project
      &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      {{#link-to 'purpose' class="text-underline text-action"
        title="What's this for?"}}
        /purpose
      {{/link-to}}
    </small>
  </footer>
</div>
