<div class="strong-content space-above_3">
  <h2 class="strong-content--title text-purple">/purpose</h2>
  <div class="font-secondary">
    <p>
      Meditation is an ancient practice. It's the art of focusing on a few things
      long enough to impress them upon your conscious thought.
    </p>
    <p>
      <span class="text-bold">weekjuice</span> is one simple goal or assertion
      for you to meditate on at the beginning of the week, sent to your
      email inbox.
    </p>
    <p>
      I have a habit of collecting little ways of thinking that help me focus
      on some quality or skill I want to develop. The problem is, I can't keep
      them all in my head. If I make a big list, I don't process any of them.
    </p>
    <p>
      I need a slow, steady drip. I need to focus on one quality every week.
      That's <span class="text-bold">weekjuice</span>.
    </p>
    <p>
      I made <span class="text-bold">weekjuice</span> for myself, because
      I wanted it to exist. If you like it too, that's all the better.
    </p>
  </div>
  &#x2665; <a class="text-italic" href="http://neilrenicker.com"
    title="My personal website">Neil Renicker</a>
</div>
